.vscode/**
.vscode-test/**
out/test/**
src/**
webview-ui/**
**/*.csv
**/*.idx
**/*.zen.idx
**/*.zendx
**/*.py
**/*.md
**/*.vsix
!README.md
!CHANGELOG.md
!LICENSE.txt
!LICENSE
.git/**
.gitignore
vite.config.*
tsconfig.json
package-lock.json
package.json.bak
node_modules/.bin/**
node_modules/@types/**
